@page "/"
@using RS.WebApp.ContentBlog.App.Components.Shared

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<Card Title="Amazing Card"
      Content="This is a custom card with dynamic content."
      ButtonText="Click Me"
      ImageUrl="https://via.placeholder.com/150" />