@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 bg-light sidebar p-3 unprintable">
            <NavMenu />
        </div>

        <!-- Main content area -->
        <div class="col-md-9 col-lg-10 ml-auto">
            <div class="top-row px-4 unprintable">
                <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </div>
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>